* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next Cyr';
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 100%;
  width: 1000px;
}

.container_in {
  max-width: 100%;
  width: 650px;
  margin: 0 auto;
}

a {
  color: #4C5D63;
}

h2 {
  font-size: 2rem;
  color: #4C5D63;
  font-family: 'Avenir Next Cyr';
  font-weight: 900;
  margin-bottom: 1rem;
}

.iam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
  height: 100px;
}

.iam .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iam img{
  width: 40px;
  margin-right: 1rem;
  display: block;
  background-size: contain;
}

.iam p {
  font-size: 1.4rem;
  color: #4C5D63;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
}

.iam .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iam .nav li {
  color: #4C5D63;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 1rem;
}

input {
  -webkit-appearance: none;
}

input {
  margin: .3rem;
  -webkit-appearance: none;
}

.App {
  text-align: center;
  width: 1100px;
  max-width: 100%;
  margin: auto;
}

.App-header {
  padding: 50px 0 0;
}

.App-header img {
  width: 15%;
}

.App-intro {
  font-size: large;
}

.text-center {
  text-align: center;
}

.text-center h2 {
  font-size: 3rem;
  color: #4C5D63;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
}

.text-center span h1 {
  font-size: 3.875rem;
  color: #4C5D63;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
}

.text-center span h2 {
  font-size: 1.2rem;
  color: #B2B2B2;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  margin: .4rem;
}

.container h3 {
  font-size: 1.3rem;
  color: #B2B2B2;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type='text'] {
  padding: 1.5rem 1rem;
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border: #eee solid 3px;
  font-size: 1rem;
  margin-bottom: 3rem;
  -webkit-appearance: none;
}

form div {
  margin-bottom: 15px;
  line-height: 2.2em;
  text-align: left;
}

form div label {
  font-size: 1.2rem;
  color: #4C5D63;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
  -webkit-appearance: none;
}

input[type='submit'] {
  -webkit-appearance: none;
  padding: 1rem 2rem;
  color: gray;
  background: #32E0AD;
  border-radius: 5px;
  border: 0;
  color: white;
  outline: none;
  font-size: 1rem;
  margin-bottom: 5rem;
  -webkit-box-shadow: 0px 5px 11px rgba( 50, 224, 173, .7);
          box-shadow: 0px 5px 11px rgba( 50, 224, 173, .7);
  cursor: pointer;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type='submit']:hover {
  -webkit-appearance: none;
  -webkit-transform: translateY(-8px) scale(1.05);
      -ms-transform: translateY(-8px) scale(1.05);
          transform: translateY(-8px) scale(1.05);
}

.list {
  text-align: center;
  margin-top: 2rem;
  width: 650px;
  margin: auto;
  max-width: 100%;
}

.list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.list ul li {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(50, 224, 173, .5);
  max-width: calc( 100% - 2rem );
  margin: 0 auto;
  background: #32E0AD;
  margin-bottom: 2.3rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  padding: 1rem 1.4rem;
  font-family: 'Avenir Next Cyr';
}
.list ul li:hover {
  transform: scale(1.07);
  box-shadow: 0 20px 25px -20px rgba(50, 224, 173, .9);
}

.list p {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  padding-bottom: .8rem;
}
.list p:after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  background: #30D2A3;
  margin-top: .5rem;
}

.list li > div {
  font-family: 'Avenir Next Cyr';
  font-size: 1.1rem;
  color: #fff;
  font-weight: 700;
}

.not {
  width: 500px;
  margin: 3rem auto 0;
  font-size: 4rem;
  max-width: 100%;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
}

/*--- input radio--*/
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 8.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #32E0AD;
}
.option-input:checked::before {
  height: 10px;
  width: 22px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #32E0AD;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

@media screen and (max-width : 736px) {
  .iam {
    margin-left: 2rem;
     -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  }
  .App-header {
    padding: 20px 0 0;
  }
  .App-header img {
    width: 35%;
  }
  .text-center h2 {
    font-size: 1.2rem;
    width: 100%;
  }
  .text-center span h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }
  .text-center span h2 {
    font-size: 1rem;
  }
  #form {
    width: calc( 100% - 2rem );
    margin: auto;
  }
  input[type='text'] {
    width: calc( 100% - 2rem );
  }
  .container {
    width: calc( 100% - 2rem );
  }
  form div label {
    font-size: 1.1rem;
  }
  #user {
    font-size: 2rem;
  }
}
























