* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next Cyr';
  font-size: 16px;
  width: 100%;
  height: 100%;
}

input {
  -webkit-appearance: none;
}

input {
  margin: .3rem;
  -webkit-appearance: none;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.App-header {
  padding: 50px 0 0;
}

.App-header img {
  width: 15%;
}

.App-intro {
  font-size: large;
}

.text-center {
  text-align: center;
}

.text-center h2 {
  font-size: 3rem;
  color: #4C5D63;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
}

.text-center span h1 {
  font-size: 3.875rem;
  color: #4C5D63;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
}

.text-center span h2 {
  font-size: 1.2rem;
  color: #B2B2B2;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  margin: .4rem;
}

.container {
  width: 650px;
  margin: auto;
}

.container h3 {
  font-size: 1.3rem;
  color: #B2B2B2;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type='text'] {
  padding: 1.5rem 1rem;
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border: #eee solid 3px;
  font-size: 1rem;
  margin-bottom: 3rem;
  -webkit-appearance: none;
}

form div {
  margin-bottom: 15px;
  line-height: 2.2em;
  text-align: left;
}

form div label {
  font-size: 1.2rem;
  color: #4C5D63;
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
  -webkit-appearance: none;
}

input[type='submit'] {
  -webkit-appearance: none;
  padding: 1rem 2rem;
  color: gray;
  background: #32E0AD;
  border-radius: 5px;
  border: 0;
  color: white;
  outline: none;
  font-size: 1rem;
  margin-bottom: 5rem;
  -webkit-box-shadow: 0px 5px 11px rgba( 50, 224, 173, .7);
          box-shadow: 0px 5px 11px rgba( 50, 224, 173, .7);
  cursor: pointer;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  text-transform: uppercase;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type='submit']:hover {
  -webkit-appearance: none;
  -webkit-transform: translateY(-8px) scale(1.05);
      -ms-transform: translateY(-8px) scale(1.05);
          transform: translateY(-8px) scale(1.05);
}

@media screen and (max-width : 736px) {
  .App-header {
    padding: 20px 0 0;
  }
  .App-header img {
    width: 40%;
  }
  .text-center h2 {
    font-size: 1.2rem;
    width: 100%;
  }
  .text-center span h1 {
    font-size: 2.5rem;
  }
  .text-center span h2 {
    font-size: 1rem;
  }
  #form {
    width: calc( 100% - 2rem );
    margin: auto;
  }
  input[type='text'] {
    width: calc( 100% - 2rem );
  }
  .container {
    width: calc( 100% - 2rem );
  }
  form div label {
    font-size: 1.1rem;
  }
  #user {
    font-size: 2rem;
  }
}
























